/*ESTILOS PARA HTML PAGINA DE INICIO*/

*{
	margin: 0 auto;
	padding: 0;

}

body{
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	font-family: 'Open Sans', sans-serif;
	background: #55B690 ; /* For browsers that do not support gradients */
 	background: -webkit-linear-gradient(right top, #55B690 , #D27857 ); /* For Safari 5.1 to 6.0 */
 	background: -o-linear-gradient(bottom left, #55B690 , #D27857 ); /* For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient(bottom left, #55B690 , #D27857 ); /* For Firefox 3.6 to 15 */
  	background: linear-gradient(to bottom left, #55B690 , #D27857 ); /* Standard syntax */
  	background-repeat: no-repeat;
  	padding-top: 81px;
}


/* trasnparentar color dropdown*/

.dropdown-toggle{
	background-color: transparent;
	border: none;
	color: white;
}

p{
	color: white;
}

.logo{
	width: 50%;
	padding-top: 50px;
	padding-bottom: 20px;
}

/*transparentar boton e inputs*/
.form-control{
	background-color: transparent;
	color: white;
}

.btn-default{
	background-color: transparent;
	color: white;
}

/*cambio color placeholder de inputs (extraído de internet)*/
.form-control::-webkit-input-placeholder { color: white; }
.form-control:-moz-placeholder { color: white; }
.form-control::-moz-placeholder { color: white; }
.form-control:-ms-input-placeholder { color: white; }

footer{
	
	color: #fff;

}